* { 
    margin: 0;
}

@font-face {
    font-family: "PokemonHollow";
    src: url("font/PokemonHollow.ttf");
}

h1 {
    font-family: "PokemonHollow";
    text-align: center;
    color:gold;
    font-size: 3em;
}

body {
    background-color: grey;
    height: 100vh;
    width: 100vw;
}

header {
    display:block;
}

.gameContainer {
    border: 2px solid red;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction:column;

}
.cardContainer {
    border: 2px solid blue;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

}
.cards {
    height: 200px;
    width: 170px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.cards.flip {
    transform: rotateY(180deg);
}

.card-front {
    transform: rotateY(180deg);
    border-radius: 10px;
}

.card-back {
    border-radius: 10px;
}

.card-front, .card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.buttonContainer {
    border: 2px solid black;
    width: 100%;
    display:flex;
    justify-content: center;
}
p label .buttonContainer{
    display:flex;
    align-items:center;
}

/* Desktop version, buttons will be on the side */