* { 
    margin: 0;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: royalblue;
    font-size: 3em;
}

body {
    overflow: visible;
    background-color: grey;
    height: 100vh;
    width: 100vw;
}

header {
    display:block;
}

.gameContainer {

    display: flex;
    height: 100%;
    width: 100%;
    flex-direction:column;
    justify-content: space-evenly;

}
.cardContainer {

    display: flex;
    align-items: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

}
.cards {
    height: 180px;
    width: 150px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.cards.flip {
    transform: rotateY(180deg);
}

.card-front {
    transform: rotateY(180deg);
    border-radius: 10px;
}

.card-back {
    border-radius: 10px;
}

.card-front, .card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.buttonContainer {

    width: 100%;
    display:flex;
    justify-content: center;
}
p label .buttonContainer{
    display:flex;
    align-items:center;
}

/* Desktop version, buttons will be on the side */